*{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.home{
  height: 100vh;
  width: 100%;
  background-image: url(img/oatmeal.jpg);
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-right: 2%;
  padding-left: 2%;
}
.logo{
  color: #e9a22f;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 55px;
}
nav ul{
  flex: 1px;
  text-align: right;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  padding: 10px 30px;
}
nav ul li a{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover{
  color: #e9a22f;
  transition: .3s;
}
.content{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
h1{
  color: #000000;
  margin: 25px 0 20px;
  font-size: 45px;
  letter-spacing: 2px;
}
p{
  color: #000000;
  margin-bottom: 40px;
  line-height: 28px;
}
.btn button{
  color: #000000;
  background-color: #e9a22f;
  border: 2px solid #e9a22f;
  padding: 10px 40px;
  border-radius: 30px;
  outline: none;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: .4s;
}
.btn button:hover{
  transform: scale(0.8);
}